
:host {
  display: block;
  padding: 1rem;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.recipe-card {
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  min-height: 350px;

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #3f51b5;
  margin: 1rem 1rem;
}

mat-card-content {
  p {
    text-align: start;
    font-size: 1rem;
    color: #333;
    margin: 0.75rem 0;
    line-height: 1.6;
  }

  strong {
    color: #3f51b5;
  }
}

mat-card-actions {
  margin: 10px;
  display: flex;
  justify-content: space-between;

  button {
    font-size: 1rem;
  }

  button[color="accent"] {
    background-color: #ff4081;
    color: #ffffff;
  }

  button[color="primary"] {
    background-color: #3f51b5;
    color: #ffffff;
  }

  button[color="primary"]:hover,
  button[color="accent"]:hover {
    filter: brightness(0.9);
  }
}